body {
    margin: auto;
    background-color: #b4fee7;
    font-family: 'Montserrat Alternates', sans-serif;
    
}



/*Estilos main container*/
.main-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
   
}

.description{
    text-align: center;
    margin: 20px;
}

.info-equipo{
    display: flex;
    flex-wrap: wrap;
    margin-left: 280px;
}

.info-top {
    width: 100%;
    display: flex;
    
}

.info-bottom{
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    
}

.usuaria {
    margin: 40px;
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100px;
    border: solid 5px #b4fee7;
}


/**ESTILOS FOOTER/PIE DE PÁGINA*/
.footer-contacto {
    color: #A16AE8;
    font-weight: bold;
}
footer {
    display: flex;
}
