body {
    margin: auto;
    background-color: #b4fee7;
    font-family: 'Montserrat Alternates', sans-serif;
    
}

    /*ESTILOS DEL NAVBAR*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: hsl(266, 73%, 66%);
    align-items: center;
}
.logo img {
    width: 150px;
    height: 100%;

    }

ul {
    display: flex;
    margin-right: 50px;
    gap: 50px;
    list-style: none;
    text-align: center;
    justify-content: space-around;
    width: auto;
    font-size: 28px;
}
li a {
    text-decoration: none;
    color: #B4FEE7;
    font-size: 23px;
}

.botones {
    justify-content: space-around;
    align-items: flex-end;
    transition-duration: 0.4s;
}

.botones li:hover {
    background: #8e50de;
    padding: 1px;
    border-radius: 15px;


}

/*Estilos main container*/
.main-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
   
}

.description{
    text-align: center;
    margin: 20px 80px;

}

.info-equipo{
    display: flex;   
    flex-wrap: wrap;
 
    
}

.info-top {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info-bottom{
    width: 100%;
    display: flex;
    margin-bottom: 100px;  
    justify-content: space-around;
    flex-wrap: wrap;
}

.usuaria {
    margin: 40px;
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100px;
    border: solid 5px #b4fee7;
    object-fit: cover;
}
.profesion {
    font-size: 12px;
}

/**ESTILOS FOOTER/PIE DE PÁGINA*/
.footer-contacto {
    color: #A16AE8;
    font-weight: bold;
    flex-direction: row;
    
    
}

.footer-contacto li {
    list-style: none;
}
.footer-container  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

footer {
    display: flex;
    justify-content: space-around; 
    flex-direction: column;
}

.copyright {
    align-items: flex-end;
    font-size: 13px;
    margin-top: 90px;
    text-align: center;
}

.footer-logo img {
    width: 150px;
    height: 75%;
}
@media (max-witdh:768px) {
  .main-container{
    display: block;
  }
  .footer-container {
    flex-wrap:wrap; 
    flex-direction: row;
    
  }  
}
